modules diskstats lock_stat stat oprofile iostat
intervall 1
oprofile_vmlinux /home/hammel/linux-stable/vmlinux
oprofile_kernel_mod /home/hammel/linux-stable/
oprofile_filter filters/mm_filter filters/block_filter filters/xfs_filter filters/fs_filter filters/sched_filter filters/xfs_filter2 filters/rb_filter filters/radix_filter filters/wait_filter
